@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: "poppins", sans-serif;
  background-color: black;
  display: flex;
  background-image: url("/Image/image.png");
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

/* --------------------bubbles----------------- */
.container::before {
  content: "";
  pointer-events: none;
  opacity: 1;
  background: radial-gradient(
      circle at 8% 0%,
      rgba(0, 120, 200, 0.6) 3px,
      transparent 4px
    ),
    radial-gradient(
      circle at 100% 4%,
      rgba(200, 0, 100, 0.6) 4px,
      transparent 5px
    ),
    radial-gradient(
      circle at 3% 92%,
      rgba(120, 0, 200, 0.6) 5px,
      transparent 6px
    ),
    radial-gradient(
      circle at 90% 100%,
      rgba(0, 200, 160, 0.6) 3px,
      transparent 4px
    ),
    radial-gradient(
      circle at 50% 10%,
      rgba(255, 255, 255, 0.35) 4px,
      transparent 5px
    ),
    radial-gradient(
      circle at 10% 50%,
      rgba(0, 120, 200, 0.6) 5px,
      transparent 6px
    ),
    radial-gradient(
      circle at 85% 50%,
      rgba(200, 0, 100, 0.6) 3px,
      transparent 4px
    ),
    radial-gradient(
      circle at 50% 92%,
      rgba(120, 0, 200, 0.6) 4px,
      transparent 5px
    ),
    radial-gradient(
      circle at 50% 50%,
      rgba(0, 200, 160, 0.6) 5px,
      transparent 6px
    ),
    radial-gradient(
      circle at 25% 15%,
      rgba(255, 255, 255, 0.35) 3px,
      transparent 4px
    ),
    radial-gradient(
      circle at 75% 0%,
      rgba(0, 120, 200, 0.6) 4px,
      transparent 5px
    ),
    radial-gradient(
      circle at 25% 100%,
      rgba(200, 0, 100, 0.6) 5px,
      transparent 6px
    ),
    radial-gradient(
      circle at 75% 90%,
      rgba(120, 0, 200, 0.6) 3px,
      transparent 4px
    ),
    radial-gradient(
      circle at 5% 25%,
      rgba(0, 200, 160, 0.6) 4px,
      transparent 5px
    ),
    radial-gradient(
      circle at 5% 75%,
      rgba(255, 255, 255, 0.35) 5px,
      transparent 6px
    ),
    radial-gradient(
      circle at 95% 25%,
      rgba(0, 120, 200, 0.6) 3px,
      transparent 4px
    ),
    radial-gradient(
      circle at 95% 75%,
      rgba(200, 0, 100, 0.6) 4px,
      transparent 5px
    ),
    radial-gradient(
      circle at 25% 24%,
      rgba(120, 0, 200, 0.6) 5px,
      transparent 6px
    ),
    radial-gradient(
      circle at 73% 25%,
      rgba(0, 200, 160, 0.6) 3px,
      transparent 4px
    ),
    radial-gradient(
      circle at 25% 75%,
      rgba(255, 255, 255, 0.35) 4px,
      transparent 5px
    ),
    radial-gradient(
      circle at 70% 75%,
      rgba(0, 120, 200, 0.6) 5px,
      transparent 6px
    ),
    radial-gradient(
      circle at 50% 28%,
      rgba(200, 0, 100, 0.6) 3px,
      transparent 4px
    ),
    radial-gradient(
      circle at 54% 75%,
      rgba(120, 0, 200, 0.6) 4px,
      transparent 5px
    ),
    radial-gradient(
      circle at 25% 50%,
      rgba(0, 200, 160, 0.6) 5px,
      transparent 6px
    ),
    radial-gradient(
      circle at 75% 50%,
      rgba(255, 255, 255, 0.35) 3px,
      transparent 4px
    ),
    radial-gradient(
      circle at 33% 33%,
      rgba(0, 120, 200, 0.6) 4px,
      transparent 5px
    ),
    radial-gradient(
      circle at 66% 33%,
      rgba(200, 0, 100, 0.6) 5px,
      transparent 6px
    ),
    radial-gradient(
      circle at 32% 67%,
      rgba(120, 0, 200, 0.6) 3px,
      transparent 4px
    ),
    radial-gradient(
      circle at 65% 66%,
      rgba(0, 200, 160, 0.6) 4px,
      transparent 5px
    );

  background-repeat: repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  animation: bubbles 5s linear infinite both;
}

@keyframes bubbles {
  from {
    transform: translate();
  }
  to {
    transform: translate(0, -66.666%);
  }
}

.container {
  position: absolute;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  gap: 40px;
  justify-content: space-around;
  object-fit: cover;
  padding: 30px;
  padding-top: 10px;
}

/* --------------Left part------------ */
.container .left-part {
  width: 100%;
  height: 107%;
  position: relative;
  flex-basis: 55%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  object-fit: cover;
  margin: 10px;
  padding: 10px;
  padding-bottom: 30px;
}
.container .left-part .profile-logo img {
  height: 100%;
  width: 100%;
  transition: 0.5s;
  overflow: hidden;
}
.profile-logo {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  border: 9px solid green;
  box-shadow: 5px 7px 25px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: all 4s ease-in;
  animation-name: animate;
  animation-duration: 0.13s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}
.profile-logo:hover {
  border: 9px double blue;
  box-shadow: 0px 0px 30px rgb(3, 67, 170);
  background-image: url("/My photo.png ");
  width: 270px;
  height: 270px;
  border-radius: 50%;
  overflow: hidden;
  animation-name: animate;
  animation-duration: 0.13s;
  animation-delay: 0.01s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

@keyframes animate {
  from {
    border: 9px double blue;
    box-shadow: 0px 0px 30px rgb(3, 67, 170);
  }
  to {
    border: 9px double red;
    box-shadow: 0px 0px 30px rgb(255, 30, 50);
  }
}
.profile-text h1 {
  background: linear-gradient(360deg, #de00ff, #0000ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.left-part .social-media {
  padding-top: 20px;
  font-size: 30px;
}
.left-part .social-media i {
  color: white;
  transition: 0.5s;
}
.left-part .social-media i:hover {
  transform: rotate(360deg);
  color: blue;
}

/* --------------------Right part-------------------- */
.container .right-part {
  margin: 10px;
  padding: 20px;
  flex-basis: 40%;
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.3rem;
  border: 4px solid;
  border-image-source: linear-gradient(270deg, #de00ff, #0000ff);
  border-image-slice: 1;
  min-height: 45vh;
  width: 45vw;
  color: black;
  text-align: left;
}
.container .right-part:hover {
  border: 4px solid;
  border-image-source: linear-gradient(270deg, #0000ff, #de00ff);
  border-image-slice: 1;
}
h2 {
  font-size: 26px;
  font-weight: 700;
  color: #222;
  margin-bottom: 15px;
}
form {
  margin: 2rem 0 1rem 0;
}

form,
select,
input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 0.75rem;
}
button {
  width: 100%;
}
form input {
  border: 1px solid lightgray;
  font-size: 1rem;
  height: 2rem;
  padding-left: 0.5rem;
}
.container .dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.dropdown .select-container img {
  max-width: 2rem;
}
.dropdown .select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  border-radius: 0.5rem;
  border: 1px solid lightgray;
  padding: 3px;
}
.dropdown i {
  font-size: 1.5rem;
  margin-top: 1rem;
}
.dropdown .select-container select {
  font-size: 1rem;
}
.msg {
  margin: 2rem 0;
}
form button {
  background-color: hsl(287, 64%, 59%);
  color: #fff;
  font-size: 1.15rem;
  cursor: pointer;
  border: none;
}

/* ---------------------Animate button------------------- */

.animated-button1 {
  background: linear-gradient(45deg, #00ffd5, #ff00c8);
  /* background:  linear-gradient(135deg, #6a11cb, #2575fc); */

  padding: 20px 20px;
  display: flex;
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  overflow: hidden;
  color: #f7d4d4;
  font-size: 20px;
  letter-spacing: 2.5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.animated-button1::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #ad8585;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
}

.animated-button1:hover::before {
  opacity: 0.2;
}

.animated-button1 span {
  position: absolute;
}

.animated-button1 span:nth-child(1) {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(rgba(43, 8, 8, 0)),
    to(#d92626)
  );
  background: linear-gradient(45deg, #00ffd5, #ff00c8);
  -webkit-animation: 2s animateTop linear infinite;
  animation: 2s animateTop linear infinite;
}

@keyframes animateTop {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.animated-button1 span:nth-child(2) {
  top: 0px;
  right: 0px;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(43, 8, 8, 0)),
    to(#d92626)
  );
  background: linear-gradient(45deg, #00ffd5, #ff00c8);
  -webkit-animation: 2s animateRight linear -1s infinite;
  animation: 2s animateRight linear -1s infinite;
}

@keyframes animateRight {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

.animated-button1 span:nth-child(3) {
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(43, 8, 8, 0)),
    to(#d92626)
  );
  background: linear-gradient(45deg, #00ffd5, #ff00c8);
  -webkit-animation: 2s animateBottom linear infinite;
  animation: 2s animateBottom linear infinite;
}

@keyframes animateBottom {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

.animated-button1 span:nth-child(4) {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(43, 8, 8, 0)),
    to(#d92626)
  );
  background: linear-gradient(45deg, #00ffd5, #ff00c8);
  -webkit-animation: 2s animateLeft linear -1s infinite;
  animation: 2s animateLeft linear -1s infinite;
}

@keyframes animateLeft {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}

/* --------------footer -------------*/
footer {
  position: absolute;
  bottom: 0px;
  padding: 10px;
  color: rgb(184, 182, 182);
  width: 100%;
  box-shadow: 0px 0px 25px black;
  font-size: 0.9rem;
  /* background-color: linear-gradient(45deg, #00ffd5, #ff00c8);
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  ); */
}

/*------------------- Responsive ---------------------- */
@media only screen and (max-width: 1000px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 150px;
    padding: 30px;
    padding-top: 10px;
  }
  .container .left-part {
    width: 100%;
    height: 107%;
    position: relative;
    flex-basis: 55%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    object-fit: cover;
    margin: 10px;
    padding: 10px;
  }
  .container .right-part {
    width: 80vw;
    height: auto;
    margin: 10px;
    margin-top: 5px;
    flex-basis: 40%;
    background-color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 80vw;
    text-align: left;
    margin-bottom: 50px;
  }
  footer {
    position: absolute;
    bottom: 0px;
    padding: 10px;
    color: rgb(184, 182, 182);
    width: 100%;
    box-shadow: 0px 0px 25px black;
    font-size: 0.9rem;
    background: linear-gradient(to right, rgb(1, 1, 53), rgb(44, 1, 1));
  }
}
